# Backend
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.env
backend/venv/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/build/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Scripts
*.sh

# DB
*.db
